<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno Presente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/ico" th:href="@{favicon.ico}"/>
</head>


<body>
<div class="pageContent">
    <div class="genericContainer">
        <div class="row py-5">
            <h3>Permissões</h3>
        </div>
        <div class="row">
            <div class="col text-center">
                <p>
                    A aplicação
                    <span class="fw-bold text-primary" th:text="${clientId}"></span>
                    deseja acessar a sua conta
                    <span class="fw-bold" th:text="${principalName}"></span>
                </p>
            </div>
        </div>
        <div th:if="${userCode}" class="row">
            <div class="col text-center">
                <p class="alert alert-warning">
                    Você já permitiu
                    <span class="fw-bold" th:text="${userCode}"></span>.
                    Verifique se o código exibido é o mesmo do seu dispositivo
                </p>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col text-center">
                <p>
                    As seguintes permições foram solicitadas.<br/>
                    Valide-as e de o seu consentimento de uso.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <form name="consent_form" method="post" th:action="${requestURI}">
                    <input type="hidden" name="client_id" th:value="${clientId}">
                    <input type="hidden" name="state" th:value="${state}">
                    <input th:if="${userCode}" type="hidden" name="user_code" th:value="${userCode}">
                    <br/>
                    <div th:each="scope: ${scopes}" class="checkBoxContainer">
                        <div>
                            <label>
                                <input class="form-check-input"
                                       style="float: none"
                                       type="checkbox"
                                       name="scope"
                                       th:value="${scope.scope}"
                                       th:id="${scope.scope}">
                            </label>
                            <label class="form-check-label fw-bold px-2" th:for="${scope.scope}"
                                   th:text="${scope.scope}"></label>
                        </div>
                        <p th:text="${scope.description}"></p>
                    </div>

                    <p th:if="${not #lists.isEmpty(previouslyApprovedScopes)}">
                        Você já concedeu os seguintes recursos:
                    </p>
                    <div th:each="scope: ${previouslyApprovedScopes}" class="checkBoxContainer">
                        <label>
                            <input class="form-check-input"
                                   style="float: none"
                                   type="checkbox"
                                   th:id="${scope.scope}"
                                   disabled
                                   checked>
                        </label>
                        <label class="form-check-label fw-bold px-2" th:for="${scope.scope}"
                               th:text="${scope.scope}"></label>
                        <p class="text-primary" th:text="${scope.description}"></p>
                    </div>

                    <div class="consentBtnGroup">
                        <button class="loginBtn" type="submit" id="submit-consent">
                            Conceder
                        </button>
                        <a th:href="@{/login}">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col text-center">
                <p>
                    <small>
                        Seu consentimento é necessário.<br/>
                        Se você não aprova, clique em "Cancelar", nesse caso nenhuma informação será compartilhada.
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>

<style th:inline="css" media="screen, print">
    @font-face {
        font-family: "Bold";
        src: local("Nunito-Bold"), url("[(@{/assets/fonts/Nunito-Bold.ttf})]") format("truetype");
    }

    @font-face {
        font-family: "Normal";
        src: local("Nunito-Regular"), url("[(@{/assets/fonts/Nunito-Regular.ttf})]") format("truetype");
    }
</style>

</body>
</html>