<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno Presente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/ico" th:href="@{favicon.ico}"/>
</head>
<body>
<div class="descriptionBox">
    <img alt="logo" width="200px" th:src="@{/assets/images/teacher.png}"/>
    <div>
        <h1>Aluno Presente</h1>
        <p>O <b>Aluno Presente</b> facilita seu controle de frequência e reúne em um só lugar tudo sobre a participação
            dos seus alunos.</p>
    </div>
</div>
<div class="container">
    <img alt="logo" width="120px" th:src="@{/assets/images/logoBlue.png}"/>
    <h3>Faça seu login</h3>
    <div class="error" th:if="${param.error}">
        Usuario não encontrado!
    </div>
    <div class="error" th:if="${param.logout}">
        Deslogado!
    </div>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form class="formContent" th:action="@{/login}" method="post">
        <label for="input_email">E-mail</label>
        <input type="text" id="input_email" placeholder="email@id.uff.br" class="inputText" name="username">

        <label for="input_password">Senha</label>
        <input type="password" id="input_password" placeholder="Senha" class="inputText" name="password">

        <div class="footerInfos">
            <input class="loginBtn" type="submit" value="Entrar"/>
            <a th:href="@{/password-recover}">Esqueci minha senha</a>
            <small>Não tem uma conta? <a th:href="@{/register}">Cadastrar!</a></small>
        </div>
    </form>
</div>

<style th:inline="css" media="screen, print">
    @font-face {
        font-family: "Bold";
        src: local("Nunito-Bold"), url("[(@{/assets/fonts/Nunito-Bold.ttf})]") format("truetype");
    }

    @font-face {
        font-family: "Normal";
        src: local("Nunito-Regular"), url("[(@{/assets/fonts/Nunito-Regular.ttf})]") format("truetype");
    }
</style>

</body>
</html>