<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno Presente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/document.js}"></script>
    <link rel="icon" type="image/ico" th:href="@{favicon.ico}"/>
</head>

<body>
<div class="pageContent">
    <div class="genericContainer">
        <h3>Nova Senha</h3>
        <form class="formContent" th:action="@{/password-recover/change?confirmation={confirmation}(confirmation=${confirmation})}" th:object="${passwordRecoverChangeForm}" method="post">
            <label for="input_password">Senha:</label>
            <input type="password" id="input_password" placeholder="Senha123" class="inputText" name="password">
            <span th:if="${#fields.hasErrors('password')}" class="msgError" id="password_error" th:errors="*{password}"></span>
            <br/>
            <label for="input_confirmation_password">Confirmar senha:</label>
            <input type="password" id="input_confirmation_password" placeholder="Senha123" class="inputText" name="passwordConfirmation">
            <span th:if="${confirmationPasswordError}" class="msgError" id="confirmation_password_error_msg" th:text="${confirmationPasswordError}"></span>
            <span th:if="${#fields.hasErrors('passwordConfirmation')}" class="msgError" id="confirmation_password_error" th:errors="*{passwordConfirmation}"></span>
            <br/>
            <div class="footerInfos">
                <input class="loginBtn" type="submit" value="Cadastrar">
                <a th:href="@{/login}">Voltar</a>
            </div>
        </form>

        <div id="myModal" class="modal">
            <div id="loading-container">
                <div id="loading-indicator"></div>
            </div>
        </div>
    </div>
</div>

<style th:inline="css" media="screen, print">
    @font-face {
        font-family: "Bold";
        src: local("Nunito-Bold"), url("[(@{/assets/fonts/Nunito-Bold.ttf})]") format("truetype");
    }

    @font-face {
        font-family: "Normal";
        src: local("Nunito-Regular"), url("[(@{/assets/fonts/Nunito-Regular.ttf})]") format("truetype");
    }
</style>

</body>

</html>