<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno Presente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/document.js}"></script>
    <link rel="icon" type="image/ico" th:href="@{favicon.ico}"/>
</head>

<body>
<div class="pageContent">
    <div class="genericContainer">
        <div class="error" th:if="${notFound}">
            Nenhuma conta encontrada!
        </div>
        <h3>Recuperação de conta</h3>
        <div id="myModal" class="modal">
            <div id="loading-container">
                <div id="loading-indicator"></div>
            </div>
        </div>
        <form class="formContent" th:action="@{/password-recover}" th:object="${passwordRecoverForm}" method="post"
              onsubmit="submitForm()">
            <p>Digite seu e-mail e vamos enviar um token de validação para o email cadastrado</p>
            <label for="input_email">E-mail</label>
            <input type="text" id="input_email" placeholder="email@id.uff.br" class="inputText" name="email">
            <span th:if="${#fields.hasErrors('email')}" class="msgError" id="email_error" th:errors="*{email}"></span>
            <div class="footerInfos">
                <input class="loginBtn" type="submit" value="Recuperar senha!" id="actionButton">
                <a th:href="@{/login}">Voltar</a>
            </div>
        </form>
    </div>
</div>

<style th:inline="css" media="screen, print">
    @font-face {
        font-family: "Bold";
        src: local("Nunito-Bold"), url("[(@{/assets/fonts/Nunito-Bold.ttf})]") format("truetype");
    }

    @font-face {
        font-family: "Normal";
        src: local("Nunito-Regular"), url("[(@{/assets/fonts/Nunito-Regular.ttf})]") format("truetype");
    }
</style>
</body>

</html>