<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno Presente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/document.js}"></script>
    <link rel="icon" type="image/ico" th:href="@{favicon.ico}"/>
</head>

<body>
<div class="pageContent">
    <div class="genericContainer">
        <h3>Nova conta</h3>
        <form class="formContent" th:action="@{/register}" th:object="${registerForm}" id="submit" method="post" onsubmit="submitForm()">
            <label for="input_name">Nome:</label>
            <input type="text" id="input_name" placeholder="Aluno da Silva Ferreira" class="inputText" name="username">
            <span th:if="${#fields.hasErrors('username')}" class="msgError" id="username_error" th:errors="*{username}"></span>
            <br/>
            <label for="input_email">E-mail:</label>
            <input type="text" id="input_email" placeholder="email@id.uff.br" class="inputText" name="email">
            <span th:if="${duplicatedEmail}" class="msgError" id="duplicated_email_error" th:text="${duplicatedEmail}"></span>
            <span th:if="${#fields.hasErrors('email')}" class="msgError" id="email_error" th:errors="*{email}"></span>
            <br/>
            <label for="input_password">Senha:</label>
            <input type="password" id="input_password" placeholder="Senha123*" class="inputText" name="password">
            <span th:if="${#fields.hasErrors('password')}" class="msgError" id="password_error" th:errors="*{password}"></span>
            <br/>
            <label for="input_confirmation_password">Confirmar senha:</label>
            <input type="password" id="input_confirmation_password" placeholder="Senha123*" class="inputText" name="passwordConfirmation">
            <span th:if="${confirmationPasswordMatch}" class="msgError" id="confirmation_password_error_conflito" th:text="${confirmationPasswordMatch}"></span>
            <span th:if="${#fields.hasErrors('passwordConfirmation')}" class="msgError" id="confirmation_password_error" th:errors="*{passwordConfirmation}"></span>
            <br/>
            <p>Ao criar sua conta, você concorda com os nossos <a class="termsA" href="https://alunopresente.vercel.app/terms">termos</a> e <a class="termsA" href="https://alunopresente.vercel.app/policy">políticas de privacidade</a>.</p>
            <div class="footerInfos">
                <input class="loginBtn" type="submit" value="Cadastrar" id="actionButton">
                <a th:href="@{/login}">Voltar</a>
            </div>

            <div id="myModal" class="modal">
                <div id="loading-container">
                    <img alt="logo" width="100px" th:src="@{/assets/images/logoSmall.png}"/>
                    <div class="bubbles">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<style th:inline="css" media="screen, print">
    @font-face {
        font-family: "Bold";
        src: local("Nunito-Bold"), url("[(@{/assets/fonts/Nunito-Bold.ttf})]") format("truetype");
    }

    @font-face {
        font-family: "Normal";
        src: local("Nunito-Regular"), url("[(@{/assets/fonts/Nunito-Regular.ttf})]") format("truetype");
    }
</style>

</body>

</html>