<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno Presente</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/document.js}"></script>
    <link rel="icon" type="image/ico" th:href="@{favicon.ico}"/>
</head>

<body>
<div class="pageContent">
    <div class="genericContainer">
        <div class="error" th:if="${notActive}">
            Já existe uma conta criada!
        </div>
        <h3 th:utext="${header}"></h3>
        <p>Insira o Token enviado para o e-mail informado!</p>
        <form class="formContent" th:action="@{/{path}/token?email={email}(email=${email},path=${path})}" th:object="${tokenForm}"
              method="post" onsubmit="submitForm()">
            <label for="input_token">Token:</label>
            <input type="text" id="input_token" placeholder="XXXXX" class="inputText" name="token">
            <span th:if="${validationException}" class="msgError" id="confirmation_error" th:text="${validationException}"></span>
            <span th:if="${#fields.hasErrors('token')}" class="msgError" id="token_error" th:errors="*{token}"></span>
            <br/>
            <div class="footerInfos">
                <input class="loginBtn" type="submit" value="Validar!" id="actionButton">
                <a th:href="@{/login}">Voltar</a>
            </div>
        </form>

        <div id="myModal" class="modal">
            <div id="loading-container">
                <img alt="logo" width="100px" th:src="@{/assets/images/logoSmall.png}"/>
                <div class="bubbles">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style th:inline="css" media="screen, print">
    @font-face {
        font-family: "Bold";
        src: local("Nunito-Bold"), url("[(@{/assets/fonts/Nunito-Bold.ttf})]") format("truetype");
    }

    @font-face {
        font-family: "Normal";
        src: local("Nunito-Regular"), url("[(@{/assets/fonts/Nunito-Regular.ttf})]") format("truetype");
    }
</style>

</body>

</html>